<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.MahaCMO" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-permission android:name="android.permission.CALL_PRIVILEGED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Maha CMO" android:theme="@android:style/Theme.Material.Light.DarkActionBar">
  &gt;</application>
</manifest>